/* html {
  height: 100%;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  height: 100%;
}

#root {
  height: 100%;
}
.fit-content {
  width: fit-content;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.pb-16 {
  padding-bottom: 16px;
}
.pr-40 {
  padding-right: 40px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.w-60-p {
  width: 60%;
}
.w-100-p {
  width: 100%;
}
.h-100-p {
  height: 100%;
}
.h-100-vh {
  height: 100vh;
}
.ps-menu-button:hover {
  color: darkslategray !important;
}
