.sidebar-broken-header {
  padding: 16px 0px 0px 40px;
  align-items: center;
  position: sticky;
  top: -1px;
}
.sidebar-title {
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 152, 229);
  margin-left: 16px;
}
