.sidebar-container {
  position: sticky;
  height: 100vh;
  top: 0px;
}
.sidebar-title {
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(0, 152, 229);
  margin-left: 16px;
}
.sidebar-header {
  padding: 20px 20px 0px 32px;
  align-items: center;
}
.collapse-icon {
  color: white;
  cursor: pointer;
}
